---

- name: jenkins-configure | Configure Jenkins Service
  template: src=jenkins.j2 dest={{jenkins_configuration}}
  sudo: yes
  register: jenkins_service_configure

- name: Create {{ jenkins_home }} folder
  file: path={{ jenkins_home }} state=directory mode=0755 owner={{ jenkins_user }}
  sudo: yes  
  ignore_errors: True

- name: jenkins-configure | Ensure Jenkins restarted
  service: name=jenkins state=restarted
  sudo: yes  
  when: jenkins_service_configure.changed

- name: Wait untils Jenkins web API is available
  shell: curl --head --silent http://{{ jenkins_http_host }}:{{ jenkins_http_port }}{{ jenkins_prefix }}/cli/
  delay: 10
  retries: 12
  until: result.stdout.find("200 OK") != -1
  register: result
  changed_when: False
  when: jenkins_service_configure.changed
  
- name: jenkins-configure | Copy jenkins-cli
  get_url: url=http://{{ jenkins_http_host }}:{{ jenkins_http_port }}{{ jenkins_prefix }}/jnlpJars/jenkins-cli.jar dest={{ jenkins_home }}/jenkins-cli.jar
  register: jenkins_cli
  until: "'OK' in jenkins_cli.msg or 'file already exists' in jenkins_cli.msg"
  sudo: yes  
  retries: 10
  delay: 10

- name: jenkins-configure | Configure Jenkins System
  template: src=jenkins_system_config.xml.j2 dest={{jenkins_home}}/jenkins.model.JenkinsLocationConfiguration.xml owner=jenkins group=jenkins force=yes
  sudo: yes  
  notify: [jenkins reload configuration]
  
- name: Configure log rotation
  template: src=logrotate.conf.j2 dest=/etc/logrotate.d/jenkins.conf
  sudo: yes  
  when: jenkins_logrotate
