<VirtualHost *:{{jenkins_proxy_port}}>
  ServerName {{jenkins_proxy_hostname}} 
  ProxyPass         /  http://127.0.0.1:{{jenkins_http_port}}/ nocanon
  ProxyPassReverse  /  http://127.0.0.1:{{jenkins_http_port}}/
  ProxyRequests     Off
  AllowEncodedSlashes NoDecode

  {% if jenkins_proxy_auth %}
    <Location />
      AuthType Basic
      AuthName "CI Server"
      AuthUserFile {{jenkins_home_dir}}/.htpasswd
      Require valid-user
    </Location>
  {% endif %}

  <Proxy http://127.0.0.1:{{jenkins_http_port}}/*>
    Order deny,allow
    Allow from all
  </Proxy>
</VirtualHost>
