<?xml version='1.0' encoding='UTF-8'?>
<jenkins.model.JenkinsLocationConfiguration>
  <adminAddress>{{jenkins_system_config.admin_email}}</adminAddress>
  <jenkinsUrl>http://{{jenkins_http_host}}:{{jenkins_http_port}}/</jenkinsUrl>
</jenkins.model.JenkinsLocationConfiguration>
