<?xml version='1.0' encoding='UTF-8'?>
<jenkins.model.JenkinsLocationConfiguration>
  <adminAddress>{{jenkins_system_config.admin_email}}</adminAddress>
{% if jenkins_proxy %}
  <jenkinsUrl>http://{{jenkins_proxy_hostname}}:{{jenkins_proxy_port}}/</jenkinsUrl>{% else %}
  <jenkinsUrl>{{jenkins_url}}/</jenkinsUrl>{% endif %}
</jenkins.model.JenkinsLocationConfiguration>
