<?xml version='1.0' encoding='UTF-8'?>
<jenkins.model.JenkinsLocationConfiguration>
  <adminAddress>{{ jenkins_system_config.admin_email }}</adminAddress>
  {% if jenkins_proxy %}
    {% if jenkins_proxy_ssl %}
      {% if jenkins_proxy_port == 443 %}
        <jenkinsUrl>https://{{ jenkins_proxy_hostname }}{{ jenkins_prefix }}/</jenkinsUrl>
      {% else %}
        <jenkinsUrl>https://{{ jenkins_proxy_hostname }}:{{ jenkins_proxy_port }}{{ jenkins_prefix }}/</jenkinsUrl>
      {% endif %}
    {% else %}
      {% if jenkins_proxy_port == 80 %}
        <jenkinsUrl>http://{{ jenkins_proxy_hostname }}{{ jenkins_prefix }}/</jenkinsUrl>
      {% else %}
        <jenkinsUrl>http://{{ jenkins_proxy_hostname }}:{{ jenkins_proxy_port }}{{ jenkins_prefix }}/</jenkinsUrl>
      {% endif %}
    {% endif %}
  {% else %}
    <jenkinsUrl>{{ jenkins_url }}/</jenkinsUrl>
  {% endif %}
</jenkins.model.JenkinsLocationConfiguration>