<?xml version='1.0' encoding='UTF-8'?>
{%- set job = item -%}
<project>
  <actions/>
  <description>{{ job.description|default("") }}</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>20</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
  </properties>
{% if job.repo|default(False) %}
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.4.2">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <name>origin</name>
        <refspec>+refs/heads/*:refs/remotes/origin/*</refspec>
        <url>{{ job.repo }}</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>{{ job.branch|default('origin/master') }}</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions>
      <hudson.plugins.git.extensions.impl.PerBuildTag/>
    </extensions>
  </scm>
{% endif %}
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
{% if job.poll|default(False) %}
    <hudson.triggers.SCMTrigger>
      <spec>{{ job.poll }}</spec>
      <ignorePostCommitHooks>false</ignorePostCommitHooks>
    </hudson.triggers.SCMTrigger>
{% endif %}
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    {% for shell in job.shell|default([]) %}
    <hudson.tasks.Shell>
      <command>{{ shell }}</command>
    </hudson.tasks.Shell>
    {% endfor %}
{% for xml in job.builders|default([]) %}
{{xml}}
{% endfor %}
  </builders>
  <publishers>
{% if job.junit|default(False) %}
    <hudson.tasks.junit.JUnitResultArchiver>
      <testResults>{{ job.junit }}</testResults>
      <keepLongStdio>false</keepLongStdio>
      <testDataPublishers/>
    </hudson.tasks.junit.JUnitResultArchiver>
{% endif %}
{% if job.mail|default(False) %}
     <hudson.tasks.Mailer>
      <recipients>{{ job.mail }}</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
{% endif %}
{% if job.chucknorris|default(False) %}
     <hudson.plugins.chucknorris.CordellWalkerRecorder>
      <factGenerator/>
    </hudson.plugins.chucknorris.CordellWalkerRecorder>
{% endif %}
{% for xml in job.publishers|default([]) %}
{{xml}}
{% endfor %}
  </publishers>
  <buildWrappers/>
</project>
